@page "/Config"

@using System;
@using BioShark_Blazor.Data;
@using static BioShark_Blazor.Data.Machine;
@using BioShark_Blazor.Pages.ProcessButtons;
@using System.Threading;
@using System.Threading.Tasks;

@inject Machine _machine
@inject ADC _adc

<h1>Configuration Panel</h1>

@code {
    


}